* {
  font-family: 'Langar', cursive;
}

header {
  background-color: lightblue;
  text-align: center;
  font-size: larger; 
  margin: 0px;
  padding: 0px;
}

body {
  background-color: lightskyblue;

  
}

img {
  width: 130px;
  height: auto;
}
