* {
  font-family: 'Langar', cursive;
  text-align: center;
}

header {
	background-color: lightblue;
	text-align: center;
	font-size: larger;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: lightskyblue;
}

img {
	width: 130px;
	height: auto;
}

.option:hover{
  cursor: pointer;
  background-color: maroon;
}

.option {
  display: inline-block;
  text-align: center;
}


